body{
  background-color: #526666;
}

.file-input-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

textarea {
  width: 600px;
  max-width: 1500px;
  min-height: 150px;
  padding: 10px;
  border: 1px solid #c5dbe6;
  border-radius: 5px;
  font-size: 16px;
  resize: vertical; /* Para permitir el redimensionamiento solo vertical */
  background-color: #919696;
}

input[type="file"] {
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  background-color: #1c2c2c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #637264;
}

.console-output {
  background-color: #000;
  color: #57f55f;
  height: 450px; /* Altura fija para la consola */
  width: 800px; /* Ajusta según tus necesidades */
  font-family: monospace;
  border: 1px solid #ccc;
  margin: 0 10px; /* Espacio horizontal entre componentes */
  margin-top: 10px;
  padding: 10px; /* Espacio interno para el contenido */
  overflow-y: auto; /* Añade scroll si el contenido excede la altura */
  white-space: pre-wrap; /* Mantiene los saltos de línea y espacios */
}



.Container{
  display: flex;
  align-items: top; 
}

